/*
 * 设置背景图片
 */
.root {-fx-background-image: url("../res/2.jpg");
	-fx-background-repeat: no-repeat;
}

/*
 * 设置风格标签
 * */
 .label{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black; 
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
 }

/*
 * 设置按钮样式
 */
 .button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    
}

/*
 * 设置按钮悬停样式
 **/
.button:hover {    -fx-background-color: linear-gradient(#2A5058, #61a2b1);-fx-cursor: hand;}